<!-- Footer Component -->
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="company-info" style="text-align: center; width: 100%;">
                <h4>DS - Scans</h4>
                <address>
                    15 Park Parade<br>
                    Harlesden, London, NW10 4JH<br>
                    <a href="tel:07788758583" class="phone-link"><i class="fas fa-phone"></i> 07788 758583</a><br>
                    <a href="tel:02089519458" class="phone-link"><i class="fas fa-phone"></i> 020 8951 9458</a><br>
                    <span><i class="fas fa-envelope"></i> brandon@darwinsolutions.co.uk</span>
                </address>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 DS - Scans - All Rights Reserved</p>
        </div>
    </div>
</footer> 