<!-- Header Component -->
<header>
    <div class="container">
        <div class="logo">
            <h1><a href="/">DS - Scans</a></h1>
            <p class="subtitle"><em>Virtual Property Tours</em></p>
        </div>
        <nav>
            <ul class="main-menu">
                <div class="close-menu">
                    <i class="fas fa-times"></i>
                </div>
                <li><a href="/">Home</a></li>
                <li><a href="/pages/about.html">About Us</a></li>
                <li><a href="/pages/services/virtual-tours.html">Virtual Tours</a></li>
                <li><a href="/pages/contact.html">Contact Us</a></li>
            </ul>
            <div class="mobile-menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </div>
</header> 